div {
    margin: 10px 0;
}

#container {
    display: flex;
    justify-content: center;
}

#form-container {
    background: #ccc;
    padding: 10px;
    border-radius: 15px;
    max-height: 120px;
}

#table-container {
    padding: 10px;
}

th {
    padding: 5px;
}

th,
td {
    border: 1px solid #000;
    text-align: center;
    padding: 5px;
}

.delete {
    background: pink;
    border: 1px solid red;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}