.reportagens {
    color: #c3c3c3;
    background: #f3f3f3;
    padding: 10px;
    max-width: 300px;
    margin: 1px;
    border-radius: 10px;
}

.reportagens:hover {
    color: orange;
}

h2 {
    color: orange;
    font-weight: bold;
    margin: 0px;
}